*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

#header, #footer {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e3e6f3;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10dvh;
}

.myForm{
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	width: 50%;
	border: 0.5px solid gray;
	border-radius: 20px;
}

.input {
	padding: 10px 20px;
	border-radius: 20px;
	border: 0.5px solid gray;
}

.btn {
	background-color: #e3e3e3;
	border: none;
	padding: 15px 20px;
	cursor: pointer;
}

.myForm h1 {
	margin: auto;
	font-size: 1.3rem;
}

button a{
	background-color: #e3e3e3;
	padding: 15px 20px;
	cursor: pointer;
}

button {
	border: none;
}

.logout_btn {
	background-color: red;
	padding: 5px 15px;
	border: none;
	border-radius: 50px;
	color: white;
	font-weight: 700;
	display: flex;
	justify-self: flex-end;
}

#header.user {
	justify-content: space-between;
	padding: 20px;
}

/* task list */

#task_list {
	padding: 20px;
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#task_list_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.add_task_btn {
	padding: 5px 15px;
	background-color: #e3e3e3;
	border: none;
	border-radius: 20px;
	font-size: 0.9rem;
}

.task_card {
	background-color: rgba(227, 227, 227, 0.6);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.task_card_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e3e3e3;
	padding: 10px;
}

.task_crud {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.task_crud li a {
	font-size: 0.9rem;
}

.textarea{
	height: 150px;
	padding: 20px;
}

.task_card.completed {
	opacity: 0.6;
}
