{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <section id="header" class="{% if user.is_authenticated %} user {% endif %}">
      <h1>header</h1>
      {% block header %}{% endblock header %}
    </section>
    <section id="container">{% block content %}{% endblock content %}</section>
    {% include "footer.html" %}
  </body>
</html>